.oh-my-zsh/
# Archivos de caché de fastfetch
.config/fastfetch/.image_history
.config/fastfetch/images_storage/
# Archivos de backup
*.bak
# nvim lazy lock (opcional — algunos lo versionan, otros no)
# .config/nvim/lazy-lock.json
warp-terminal/.config/warp-terminal/user_preferences.json
# vesktop runtime data
vesktop/.config/vesktop/Crashpad/
vesktop/.config/vesktop/Singleton*
vesktop/.config/vesktop/sessionData/
vesktop/.config/vesktop/settings.json
vesktop/.config/vesktop/settings/
vesktop/.config/vesktop/state.json
