/**
 * @name Midnight (Caelestia)
 * @description A dark, rounded discord theme. Caelestia scheme colours.
 * @author refact0r, esme, anubis
 * @version 1.6.2
 * @invite nz87hXyvcy
 * @website https://github.com/refact0r/midnight-discord
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
*/
@import url("https://refact0r.github.io/midnight-discord/build/midnight.css");
body {
  /* font options */
  --font: "figtree"; /* change to '' for default discord font */
  --code-font: "JetBrainsMono NF"; /* change to '' for default discord font */
  font-weight: 400; /* normal text font weight. DOES NOT AFFECT BOLD TEXT */
  /* sizes */
  --gap: 12px; /* spacing between panels */
  --divider-thickness: 4px; /* thickness of unread messages divider and highlighted message borders */
  --border-thickness: 1px; /* thickness of borders around main panels. DOES NOT AFFECT OTHER BORDERS */
  /* animation/transition options */
  --animations: on; /* turn off to disable all midnight animations/transitions */
  --list-item-transition: 0.2s ease; /* transition for list items */
  --dms-icon-svg-transition: 0.4s ease; /* transition for the dms icon */
  --border-hover-transition: 0.2s ease; /* transition for borders when hovered */
  /* top bar options */
  --top-bar-height: var(
      --gap
  ); /* height of the titlebar/top bar (discord default is 36px, 24px recommended if moving/hiding top bar buttons) */
  --top-bar-button-position: titlebar; /* off: default position, hide: hide inbox/support buttons completely, serverlist: move inbox button to server list, titlebar: move inbox button to titlebar (will hide title) */
  --top-bar-title-position: off; /* off: default centered position, hide: hide title completely, left: left align title (like old discord) */
  --subtle-top-bar-title: off; /* off: default, on: hide the icon and use subtle text color (like old discord) */
  /* window controls */
  --custom-window-controls: on; /* turn off to use discord default window controls */
  --window-control-size: 14px; /* size of custom window controls */
  /* dms button icon options */
  --custom-dms-icon: custom; /* off: use default discord icon, hide: remove icon entirely, custom: use custom icon */
  --dms-icon-svg-url: url("https://refact0r.github.io/midnight-discord/assets/Font_Awesome_5_solid_moon.svg"); /* icon svg url. MUST BE A SVG. */
  --dms-icon-svg-size: 90%; /* size of the svg (css mask-size) */
  --dms-icon-color-before: var(--icon-subtle); /* normal icon color */
  --dms-icon-color-after: var(--white); /* icon color when button is hovered/selected */
  /* dms button background options */
  --custom-dms-background: off; /* off to disable, image to use a background image (must set url variable below), color to use a custom color/gradient */
  --dms-background-image-url: url(""); /* url of the background image */
  --dms-background-image-size: cover; /* size of the background image (css background-size) */
  --dms-background-color: linear-gradient(
      70deg,
      var(--blue-2),
      var(--purple-2),
      var(--red-2)
  ); /* fixed color/gradient (css background) */
  /* background image options */
  --background-image: off; /* turn on to use a background image */
  --background-image-url: url(""); /* url of the background image */
  /* transparency/blur options */
  /* NOTE: TO USE TRANSPARENCY/BLUR, YOU MUST HAVE TRANSPARENT BG COLORS. FOR EXAMPLE: --bg-4: hsla(220, 15%, 10%, 0.7); */
  --transparency-tweaks: off; /* turn on to remove some elements for better transparency */
  --remove-bg-layer: off; /* turn on to remove the base --bg-3 layer for use with window transparency (WILL OVERRIDE BACKGROUND IMAGE) */
  --panel-blur: off; /* turn on to blur the background of panels */
  --blur-amount: 12px; /* amount of blur */
  --bg-floating: #001113; /* you can set this to a more opaque color if floating panels look too transparent */
  /* chatbar options */
  --custom-chatbar: off; /* off: default chatbar, separated: chatbar separated from chat */
  --chatbar-height: 47px; /* height of the chatbar (56px by default, 47px to align with user panel, 56px recommended for separated) */
  /* other options */
  --small-user-panel: off; /* off: default user panel, on: smaller user panel like in old discord */
}

/* color options */
:root {
  --colors: on; /* turn off to use discord default colors */
  /* text colors */
  --text-0: #006767; /* text on colored elements */
  --text-1: rgb(193.8, 246, 252.3); /* bright text on colored elements */
  --text-2: rgb(190.4, 245.5, 252.15); /* headings and important text */
  --text-3: #bbf5fc; /* normal text */
  --text-4: #457e85; /* icon buttons and channels */
  --text-5: #457e85; /* muted channels/chats and timestamps */
  /* background and dark colors */
  --bg-1: #002b2f; /* dark buttons when clicked */
  --bg-2: #002428; /* dark buttons */
  --bg-3: #001113; /* spacing, secondary elements */
  --bg-4: #001d20; /* main background color */
  --hover: rgba(187, 245, 252, 0.08); /* channels and buttons when hovered */
  --active: rgba(187, 245, 252, 0.1); /* channels and buttons when clicked or selected */
  --active-2: rgba(187, 245, 252, 0.2); /* extra state for transparent buttons */
  --message-hover: rgba(187, 245, 252, 0.08); /* messages when hovered */
  /* accent colors */
  --accent-1: var(--blue-1); /* links and other accent text */
  --accent-2: var(--blue-2); /* small accent elements */
  --accent-3: var(--blue-3); /* accent buttons */
  --accent-4: var(--blue-4); /* accent buttons when hovered */
  --accent-5: var(--blue-5); /* accent buttons when clicked */
  --accent-new: #ff716c; /* stuff that's normally red like mute/deafen buttons */
  --mention: linear-gradient(
      to right,
      color-mix(in hsl, var(--blue-2), transparent 90%) 40%,
      transparent
  ); /* background of messages that mention you */
  --mention-hover: linear-gradient(
      to right,
      color-mix(in hsl, var(--blue-2), transparent 95%) 40%,
      transparent
  ); /* background of messages that mention you when hovered */
  --reply: linear-gradient(
      to right,
      color-mix(in hsl, var(--text-3), transparent 90%) 40%,
      transparent
  ); /* background of messages that reply to you */
  --reply-hover: linear-gradient(
      to right,
      color-mix(in hsl, var(--text-3), transparent 95%) 40%,
      transparent
  ); /* background of messages that reply to you when hovered */
  /* status indicator colors */
  --online: var(--green-2); /* change to #43a25a for default */
  --dnd: var(--red-2); /* change to #d83a42 for default */
  --idle: var(--yellow-2); /* change to #ca9654 for default */
  --streaming: var(--purple-2); /* change to #593695 for default */
  --offline: var(--text-4); /* change to #83838b for default offline color */
  /* border colors */
  --border-light: rgba(69, 126, 133, 0); /* light border color */
  --border: rgba(69, 126, 133, 0.2); /* normal border color */
  --button-border: rgba(69, 126, 133, 0); /* neutral border color of buttons */
  /* base colors */
  --red-1: #ff716c;
  --red-2: rgb(255, 95.4673469388, 89.85);
  --red-3: rgb(255, 77.9346938776, 71.7);
  --red-4: rgb(255, 60.4020408163, 53.55);
  --red-5: rgb(255, 42.8693877551, 35.4);
  --green-1: #8cf1e3;
  --green-2: rgb(123.0174418605, 238.9325581395, 222.8651162791);
  --green-3: rgb(106.0348837209, 236.8651162791, 218.7302325581);
  --green-4: rgb(89.0523255814, 234.7976744186, 214.5953488372);
  --green-5: rgb(72.0697674419, 232.7302325581, 210.4604651163);
  --blue-1: #c1fffe;
  --blue-2: rgb(170.6, 255, 253.6387096774);
  --blue-3: rgb(148.2, 255, 253.2774193548);
  --blue-4: rgb(125.8, 255, 252.9161290323);
  --blue-5: rgb(103.4, 255, 252.5548387097);
  --yellow-1: #d2faeb;
  --yellow-2: rgb(189.3, 247.7, 225.8);
  --yellow-3: rgb(168.6, 245.4, 216.6);
  --yellow-4: rgb(147.9, 243.1, 207.4);
  --yellow-5: rgb(127.2, 240.8, 198.2);
  --purple-1: #62ceeb;
  --purple-2: rgb(83.2313559322, 201.3906779661, 233.1186440678);
  --purple-3: rgb(68.4627118644, 196.7813559322, 231.2372881356);
  --purple-4: rgb(53.6940677966, 192.1720338983, 229.3559322034);
  --purple-5: rgb(38.9254237288, 187.5627118644, 227.4745762712);
}
